<h1>Welcome to Good Burger</h1>
<br>

    <h2>Eat This Burger:</h2>
    <ul>
        {{#each burgers}} {{#unless this.devoured}}
        <li>
            {{this.id}}. {{this.burger_name}}

            <form action="PUT" method="POST">
                <input type="hidden" name="devoured">
                <button class="btn btn-warning" type="submit">Eat Me!</button>
            </form>

        </li>
        {{/unless}} {{/each}}
    </ul>

    <h2>Burgers That Have Been Devoured: </h2>

    <ul>
        {{#each burgers}} {{#if this.devoured}}
        <li>
            {{this.id}}. {{this.burger_name}}
        </li>
        {{/if}} {{/each}}
    </ul>

    <h2>Add a Burger: </h2>

    <form class="create-update-form" method="POST">
        <div class="form-group">
            <label>Burger Name:</label>
            <input type="text" name="burger_name">
        </div>
        <button class="btn btn-primary" type="submit">Add Burger</button>
    </form>


