body {
  background: yellow;
}

h1 {
  font-family: 'Modak', cursive;
  text-align: center;
  font-size: 200px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}

li {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

#left {

}

#center {
  text-align: center;
}

textarea {
  font-size: 24px;
  text-align: center;
}

